// https://getbootstrap.com/docs/5.1/customize/sass/

$body-bg: #FFFF;
$primary: #000000;
$secondary: #8CDBA9;
$light: #33AB5F;
$table-striped-bg: #8CDBA9;
$table-hover-bg: #33AB5F;

@import "bootstrap";
